/GNUmakefile
/build/
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov

# Rust

/mc-read-trace/target/
conf_diff.txt
configure_out.txt
configure_out2.txt
configure_output_william
mc-constant-time-test/target
*.asm
Cargo.lock
mc-constant-time-test/target/
